<p id="notice"><%= notice %></p>

<div class = "home-banner">
<h1>Articles</h1>
</div>

<div class = "new">
<%= link_to 'New Article', new_article_path, class: "btn btn-outline-dark" %>
</div>

    <% @articles.each do |article| %>
      <tr>
       <div class="card-container">
       <div class="card" style="width: 18rem;">
       <img src="https://images.unsplash.com/photo-1454117096348-e4abbeba002c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTl8fHdoaXRlJTIwYmFja2dyb3VuZHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=400&q=60" class="card-img-top" alt="...">
       <div class="card-body">
       <h5 class="card-title"><td><%= link_to article.title, article, class: "title-link" %></td></h5>
        <td><%= link_to edit_article_path(article), class: "btn-link" do %>
        <i class="far fa-edit"></i>
        <% end %>
        </td>
        <td><%= link_to article, class: "btn-link", method: :delete, data: { confirm: 'Are you sure?' } do %>
        <i class="fas fa-trash-alt"></i>
        <% end %>
        </td>
       </div>
       </div>
       </div>
      </tr>
    <% end %>
 



