<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @article.photo.key, height: 1000, crop: :fill %>')">
<h1><%= @article.title %></h1>
</div>




<%# 
<%= cl_image_tag @article.photo.key, height: 300, width: 400, crop: :fill %> 
<%# %> 

<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
    <%= @article.body %>
    </div>
  </div>
</div>

<div class="links">
<%= link_to 'Edit', edit_article_path(@article), class: "option" %> |
<%= link_to 'Back', root_path, class: "option" %>
</div>
